.surfer-design
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 10vh;
    font-size: 24px;
    font-weight: 600;
}
.surfer-design:hover
{
    background-color: #777777;
    font-size: 26px;
    cursor: pointer;

}
.selected
{
    background-color: #777777;
}