.list-design
{
    width: 100vw;
    min-height: 90vh;
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    overflow-x: hidden;
}
.jokes-card-wrapper
{
    overflow: hidden;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 35px;
    justify-content: space-evenly;
    width: 75%;
    margin-bottom: 35px;
}