.favourites-design
{
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.text-favourites
{
    font-weight: 500;
    color: white;
    font-size: 45px;
    height: 40px;
    margin-top: 10px;
}
.jokes-card-wrapper
{
    overflow: hidden;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 35px;
    justify-content: space-evenly;
    width: 75%;
    margin-bottom: 40px;
}