.header-design
{
    background-color: 	#333333;
    color: rgba(255, 255, 255, 0.607);
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-line
{
    height: 50px;
    width: 2px;
    background-color: 	#999999;
}

@media(max-width: 768px){
    .header-design
    {
        height: auto;
    }
    .buttons-wrapper
    {
        padding-top: 10px;
        padding-bottom: 10px;
        flex-direction: column;
    }
    .vertical-line
    {
        height: 2px;
        width: 200px;
    }

}
.buttons-wrapper
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.logo-design
{
    width: 65px;
    height: 60px;
}
