.categories-design
{
    width: 100vw;
    min-height: 90vh;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.list-wrapper-design
{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.list-element
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0803C;
    height: 60px;
    width: 130px;
    cursor: pointer;
}
.list-element:hover{
    background-color: #ff6200;
}
.single-joke-element
{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}