.single-joke-design
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    width: 500px;
    height: 320px;
    background-color: white;
    color: black;
    border-radius: 0.4em;
    font-size: 24px;
    font-weight: 400;
    padding: 20px;

}
@media(max-width: 500px){
    .single-joke-design{
        width: 85%;
        height: 600px;
        max-height: 800px;
    }
}

.heart-design
{
    width: 20px;
    height: 20px;
}
.heart-wrapper-design
{
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(138, 131, 131, 0.637)
}
.heart-wrapper-design:hover
{
    background-color: rgba(138, 131, 131);
}
.text-wrapper
{
    text-align: left;
    max-width: 450px;
    height: 60%;
    overflow:hidden;
    width: 100%;
}
.text-top
{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
}
.bottom-wrapper
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
}